/* SurveySubmissionPage.css */
.Submission{
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  padding: 40px;
  width: 500px; /* Increase the width */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Increase the height */
  margin: 0 auto; /* Center the form horizontally */
  position: absolute; /* Center the form vertically */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.back-button {
  display: block;
  margin-bottom: 20px;
  color: #007bff; /* Blue color for the link */
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 10px;
}

.back-button:hover {
  text-decoration: underline;
}
